jdbc.password="root"
jdbc.driver.class="com.mysql.jdbc.Driver"
datasource.name="mysql"
jdbc.connection.uri="jdbc:mysql://localhost:3306/cq"
jdbc.validation.query=""
datasource.svc.properties=[""]
default.readonly=B"false"
default.autocommit=B"true"
jdbc.username="root"
pool.size=L"10"
pool.max.wait.msec=L"1000"
